<div class="container-fluid">
  <div class="jumbotron text-center">
    <form [formGroup]="sendForm" (ngSubmit)="Send()">
      <div class="row">
        <input type="text"  [required] formControlName="request_text">
      </div>
      <div class="row">
        <button class="btn btn-primary">Send</button>
      </div>
    </form>
    <div class="col-lg-12">
      <div *ngFor="let item of jokes.result">
        <div class="col-lg-3">
          <img src="{{item.icon_url}}" alt="">
          <div class="row">
            {{item.value}}
          </div>
        </div>
      </div>
    </div>
    <!--<app-loader [isLoading]="isLoading"></app-loader>-->
    <!--<q [hidden]="isLoading">{{quote}}</q>-->
  </div>
</div>
